{% extends 'base_landing.html' %}
{% block title %}Reset Password{% endblock %}

{% block content %}
<section class="bg-gray-50 dark:bg-gray-800">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <div class="w-full max-w-md bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-900 dark:border-gray-800">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white mb-4">
                  Set a New Password
              </h1>
              {% if form.errors %}
                  <div class="bg-red-100 border border-red-400 text-red-700 p-3 mb-4 rounded">
                      <ul>
                          {% for field in form %}
                              {% for error in field.errors %}
                                  <li>{{ error }}</li>
                              {% endfor %}
                          {% endfor %}
                      </ul>
                  </div>
              {% endif %}
              <form method="post">
                  {% csrf_token %}
                  <div class="space-y-4">
                      <label for="id_new_password1" class="block text-sm font-medium text-gray-900 dark:text-white mb-2">New Password</label>
                      {{ form.new_password1 }}
                  </div>
                  <div class="space-y-4">
                      <label for="id_new_password2" class="block text-sm font-medium text-gray-900 dark:text-white mb-2">Confirm Password</label>
                      {{ form.new_password2 }}
                  </div>
                  <button type="submit" class="w-full text-white bg-green-600 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-gray-700 dark:focus:ring-green-800 mb-4">
                      Reset Password
                  </button>
              </form>
          </div>
      </div>
  </div>
</section>
{% endblock %}